@import'https://fonts.googleapis.com/css?family=Libre+Franklin:400,700';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html.index {
    max-width: 100%;
    overflow: hidden
}

html,
body {
    font-family: Libre Franklin, Helvetica Neue, Arial, sans-serif;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: -moz-hidden-unscrollable;
    height: 100%
}

a {
    text-decoration: none
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.index-main {
    height: 100%
}

.overlay {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .92);
    color: #fff;
    overflow: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all .25s cubic-bezier(.005, .735, .63, .995);
    transition: all .25s cubic-bezier(.005, .735, .63, .995)
}

.overlay .message {
    -webkit-transition: all .2s cubic-bezier(.005, .735, .63, .995);
    -o-transition: all .2s cubic-bezier(.005, .735, .63, .995)
}

.overlay.show {
    z-index: 10;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.overlay .message {
    display: block;
    width: 90%;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-transform: translate(-50%, -35%) scale(.7);
    transform: translate(-50%, -35%) scale(.7);
    text-align: center;
    -webkit-transition: all .2s cubic-bezier(.005, .735, .63, .995);
    transition: all .2s cubic-bezier(.005, .735, .63, .995)
}

.overlay .message h1 {
    margin-top: 10px
}

.message.show-message {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1)
}

.overlay .message p {
    max-width: 400px;
    margin: 10px auto 0;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"
}

.overlay .message p.already-in {
    margin: 20px auto 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    background: rgba(0, 255, 0, .2);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .3)
}

::-moz-placeholder {
    color: rgba(255, 255, 255, .3)
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, .3)
}

:-moz-placeholder {
    color: rgba(255, 255, 255, .3)
}

.input-text {
    background: rgba(255, 255, 255, .05);
    outline: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, .2);
    height: 80px;
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 24px;
    border-radius: 20px 20px 0 0;
    border-bottom: 0
}

.input-text:hover {
    background: rgba(255, 255, 255, .07);
    border: 1px solid rgba(255, 255, 255, .3)
}

.input-text:focus {
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .3)
}

button.submit-btn {
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    color: rgba(255, 255, 255, .8);
    outline: 0;
    border: 0;
    height: 80px;
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    -webkit-transition: all .2s cubic-bezier(.005, .735, .63, .995);
    transition: all .2s cubic-bezier(.005, .735, .63, .995);
    background: #5c6ee4;
    background: -webkit-linear-gradient(45deg, #5c6ee4 0, #7848cb 62%);
    background: linear-gradient(45deg, #5c6ee4 0, #7848cb 62%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5c6ee4', endColorstr='#7848cb', GradientType=1)
}

button.submit-btn:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: #fff
}

button.submit-btn:active {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
}

button.submit-btn.success {
    background: #39b31b;
    background: -webkit-linear-gradient(45deg, #39b31b 0, #58ea14 100%);
    background: linear-gradient(45deg, #39b31b 0, #58ea14 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#39b31b', endColorstr='#58ea14', GradientType=1)
}

button.submit-btn.loading {
    background: #3b4fd1;
    background: -webkit-linear-gradient(45deg, #3b4fd1 0, #653cac 62%);
    background: linear-gradient(45deg, #3b4fd1 0, #653cac 62%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3b4fd1', endColorstr='#653cac', GradientType=1)
}

button.submit-btn.loading img {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    display: inline-block
}

button.submit-btn span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

button.submit-btn.loading span {
    width: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    white-space: nowrap;
    display: none
}

button.submit-btn img {
    display: none;
    width: 45px;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.overlay .message .close-btn {
    display: inline-block;
    margin-top: 50px
}

.close-btn img {
    opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    width: 40px;
    -webkit-transition: all .5s cubic-bezier(.005, .735, .63, .995);
    transition: all .5s cubic-bezier(.005, .735, .63, .995)
}

.close-btn img:hover {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

@-webkit-keyframes error {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    15% {
        -webkit-transform: translateX(-3%) rotateZ(-1deg);
        transform: translateX(-3%) rotateZ(-1deg)
    }
    30% {
        -webkit-transform: translateX(2.5%) rotateZ(1deg);
        transform: translateX(2.5%) rotateZ(1deg)
    }
    45% {
        -webkit-transform: translateX(-2%) rotateZ(-1deg);
        transform: translateX(-2%) rotateZ(-1deg)
    }
    60% {
        -webkit-transform: translateX(1.5%) rotateZ(1deg);
        transform: translateX(1.5%) rotateZ(1deg)
    }
    75% {
        -webkit-transform: translateX(-1%) rotateZ(-1deg);
        transform: translateX(-1%) rotateZ(-1deg)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes error {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    15% {
        -webkit-transform: translateX(-3%) rotateZ(-1deg);
        transform: translateX(-3%) rotateZ(-1deg)
    }
    30% {
        -webkit-transform: translateX(2.5%) rotateZ(1deg);
        transform: translateX(2.5%) rotateZ(1deg)
    }
    45% {
        -webkit-transform: translateX(-2%) rotateZ(-1deg);
        transform: translateX(-2%) rotateZ(-1deg)
    }
    60% {
        -webkit-transform: translateX(1.5%) rotateZ(1deg);
        transform: translateX(1.5%) rotateZ(1deg)
    }
    75% {
        -webkit-transform: translateX(-1%) rotateZ(-1deg);
        transform: translateX(-1%) rotateZ(-1deg)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.error {
    -webkit-animation: error .7s;
    animation: error .7s;
}

.error .input-text {
    border: 1px solid rgba(255, 0, 0, .8)
}

.container {
    height: 100%;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden
}

.container .background {
    height: 100%;
    z-index: -1
}

.container .background .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -3;
    background: #5c6ee4;
    background: -webkit-linear-gradient(45deg, #5c6ee4 0, #7848cb 62%);
    background: linear-gradient(45deg, #5c6ee4 0, #7848cb 62%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5c6ee4', endColorstr='#7848cb', GradientType=1)
}

.container .background .lights {
    opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    position: absolute;
    top: -100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
    background: -webkit-radial-gradient(center, ellipse cover, #fff 0, rgba(255, 255, 255, 0) 100%);
    background: -webkit-radial-gradient(center ellipse, #fff 0, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(ellipse at center, #fff 0, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1)
}

.container .background .cutit {
    position: absolute;
    background-size: cover;
    background: url(../images/cutit.png) no-repeat center top;
    width: 100%;
    height: 100%;
    bottom: -50%;
    z-index: -1
}

.st-logo {
    margin: 50px auto 0;
    position: relative;
    z-index: 1
}

.st-logo h1 {
    font-size: 40px
}

.st-logo h1 span {
    font-weight: 400
}

.st-logo p {
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
}

.main {
    margin: 100px auto 0;
    position: relative;
    z-index: 1
}

.main h2 {
    font-size: 48px;
    margin: 0 20px
}

.main .get-started {
    background: rgba(0, 0, 0, .8);
    padding: 20px 40px;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-top: 25px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .1s cubic-bezier(.005, .735, .63, .995);
    transition: all .1s cubic-bezier(.005, .735, .63, .995);
    box-shadow: 0 22px 50px rgba(0, 0, 0, .3)
}

.get-started:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    background: rgba(0, 0, 0, .6)
}

.get-started:active {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    box-shadow: 0 22px 70px rgba(0, 0, 0, .4);
    background: rgba(0, 0, 0, .8)
}

footer {
    position: absolute;
    z-index: 0;
    bottom: -5%;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-transition: all 1s cubic-bezier(.005, .735, .63, .995);
    transition: all 1s cubic-bezier(.005, .735, .63, .995)
}

footer:hover {
    bottom: -2%;
    -webkit-transform: translateX(-50%) scale(1.01);
    transform: translateX(-50%) scale(1.01)
}

footer .mock-img {
    width: 300px;
    cursor: pointer;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 60px 100px rgba(0, 0, 0, .4)
}

.stocks-list {
    position: absolute;
    bottom: 0;
    z-index: -1;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-animation: stockmove 30s infinite cubic-bezier(.5, .5, .5, .5) forwards;
    animation: stockmove 30s infinite cubic-bezier(.5, .5, .5, .5) forwards
}

@-webkit-keyframes stockmove {
    0% {
        left: 0
    }
    100% {
        left: -65%
    }
}

@keyframes stockmove {
    0% {
        left: 0
    }
    100% {
        left: -65%
    }
}

.stocks-list .stock {
    text-align: left;
    display: inline-block;
    min-width: 240px;
    background: rgba(0, 0, 0, .1);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 0 0 20px 20px;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"
}

.stocks-list .stock:nth-child(2n) {
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"
}

.stocks-list .stock .stock-country {
    width: 50px;
    height: 50px;
    border: 4px solid #48489a;
    border-radius: 50px;
    float: left;
    margin-right: 18px;
    box-shadow: 10px 10px 22px rgba(0, 0, 0, .12)
}

.stocks-list .stock h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 1px 0 8px
}

.stocks-list .stock .stock-up {
    color: #33ff40
}

.stocks-list .stock .stock-down {
    color: #ff4d4d
}

@media only screen and (max-width:760px) {
    footer {
        bottom: -25%
    }
    .main {
        margin: 50px auto 0
    }
    .main h2 {
        font-size: 30px;
        line-height: 46px
    }
}

@media screen and (max-height:520px) {
    .st-logo {
        margin: 30px auto 0;
    }
    .main {
        margin: 25px auto 0;
    }
}

@media screen and (max-height:500px) {
    footer {
        display: none
    }
}
